footer{
    width: 100%;
    display: flex;

    .content{
        flex-direction: column;
        width: 50%;
        height: 30px;
        margin: 35px 50px;
        h5{
            font-weight: lighter;
        }

        p{
            color:#007bff;
        }
    }
}